<div class="flex flex-col-reverse items-center justify-center w-screen h-screen text-gray-200 bg-gray-800 sm:flex-row">
  <div class="flex flex-col flex-grow sm:h-full h-0 w-full overflow-auto">
    <!-- 		<div class="flex flex-shrink-0 h-80 p-10 bg-white bg-cover bg-center"
			 style="background-image: url('https://images.unsplash.com/photo-1606787503066-794bb59c64bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');"></div> -->

    <h2 class="text-xl font-semibold mt-10 sm:px-10 px-6">Your playlists</h2>
    <div
      class="grid w-full sm:gap-10 gap-6 mt-4 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 sm:px-10 px-6">
      {# <a class="h-64 col-span-full transition bg-gray-900 rounded shadow-lg hover:shadow-xl" href="#"></a>
      <a class="h-32 transition bg-gray-900 rounded shadow-lg hover:shadow-xl" href="#"></a> #}
    </div>
    <h2 class="text-xl font-semibold mt-10 sm:px-10 px-6">Your providers</h2>
    <div
      class="grid w-full sm:gap-10 gap-6 mt-4 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 sm:px-10 px-6">
      {# <a class="h-64 col-span-full transition bg-gray-900 rounded shadow-lg hover:shadow-xl" href="#"></a> #}
      {% for connection in connections %}
      <a href="/p/{{ connection.id }}">
        <div class="h-32 transition bg-gray-900 rounded shadow-lg hover:shadow-xl">
          <div class="flex items-center justify-between p-4">
            <div class="flex items-center">
              <div class="w-8 h-8 bg-gray-800 rounded-full"></div>
              <div class="ml-2 font-semibold">{{ connection.id }}</div>
            </div>
            <div class="text-sm text-gray-400">Connected</div>
          </div>
        </div>
      </a>
      {% endfor %}
      <a href="/p/new">
        <div class="h-32 transition bg-gray-900 rounded shadow-lg hover:shadow-xl">
          <div class="flex items-center justify-center p-4">
            <div class="flex items-center">
              <span class="material-symbols-add-diamond-outline-sharp w-24 h-24 text-white"></span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
