*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

::before, ::after {
  --en-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: rgb(59 130 246 / 0.5);
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

::-webkit-backdrop {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: rgb(59 130 246 / 0.5);
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

::backdrop {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: rgb(59 130 246 / 0.5);
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

.arcticons-videotranscoder {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='M24.78 32a9 9 0 0 0 .08-1.15a9 9 0 0 0-.08-1.15l2.5-2a.57.57 0 0 0 .14-.75l-2.36-4.1a.59.59 0 0 0-.72-.25l-2.94 1.17a9.2 9.2 0 0 0-2-1.16l-.4-3.13a.6.6 0 0 0-.59-.5h-4.78a.6.6 0 0 0-.58.5l-.44 3.13a9 9 0 0 0-2 1.16l-2.95-1.18a.58.58 0 0 0-.72.25l-2.36 4.1a.59.59 0 0 0 .14.75l2.5 2a9 9 0 0 0-.09 1.15A9 9 0 0 0 7.22 32l-2.5 2a.6.6 0 0 0-.14.76l2.36 4.09a.59.59 0 0 0 .72.26l2.95-1.19a8.6 8.6 0 0 0 2 1.16l.44 3.14a.6.6 0 0 0 .58.49h4.73a.6.6 0 0 0 .59-.49l.44-3.22a8.5 8.5 0 0 0 2-1.16L24.33 39a.59.59 0 0 0 .72-.26l2.37-4.09a.6.6 0 0 0-.14-.76ZM16 35a4.14 4.14 0 1 1 4.14-4.14A4.14 4.14 0 0 1 16 34.94Z'/%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='M26.69 33.45H40.2a3.3 3.3 0 0 0 3.3-3.3V5.38h-7.14l3.94 5.74h-4.91l-3.94-5.74H27.5l3.95 5.74h-4.91l-3.95-5.74h-3.94l3.94 5.74h-4.91l-3.94-5.74H11.5a3.3 3.3 0 0 0-3.3 3.3V22.8'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.elif {
}

.else {
}

.elt\) {
}

.failed {
}

.false {
}

.icon {
}

.lang\= {
}

.layout\.html {
}

.material-symbols-add-diamond-outline-sharp {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M11 16h2v-3h3v-2h-3V8h-2v3H8v2h3zm1.025 6.85L1.225 12l10.8-10.825L22.775 12zM12 20l7.975-8L12 4l-7.975 8zm0-8'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.material-symbols-arrow-back-ios {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225z'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.mdi-cloud-refresh-variant {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M21.86 12.5A4.3 4.3 0 0 0 19 11c0-1.95-.68-3.6-2.04-4.96S13.95 4 12 4c-1.58 0-3 .47-4.25 1.43s-2.08 2.19-2.5 3.72c-1.25.28-2.29.93-3.08 1.95S1 13.28 1 14.58c0 1.51.54 2.8 1.61 3.85C3.69 19.5 5 20 6.5 20h12c1.25 0 2.31-.44 3.19-1.31c.87-.88 1.31-1.94 1.31-3.19q0-1.725-1.14-3M16 13h-4l1.77-1.77A2.5 2.5 0 1 0 14 14.5h1.71A3.99 3.99 0 0 1 12 17c-2.21 0-4-1.79-4-4s1.79-4 4-4c1.11 0 2.11.45 2.83 1.17L16 9z'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.right {
}

.with {
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.right-4 {
  right: 1rem;
}

.bottom-4 {
  bottom: 1rem;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-full {
  grid-column: 1 / -1;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-5 {
  grid-row: span 5 / span 5;
}

.float-right {
  float: right;
}

.m-1 {
  margin: 0.25rem;
}

.m-3 {
  margin: 0.75rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.h-0 {
  height: 0px;
}

.h-12 {
  height: 3rem;
}

.h-2 {
  height: 0.5rem;
}

.h-24 {
  height: 6rem;
}

.h-32 {
  height: 8rem;
}

.h-4 {
  height: 1rem;
}

.h-40 {
  height: 10rem;
}

.h-6 {
  height: 1.5rem;
}

.h-60 {
  height: 15rem;
}

.h-64 {
  height: 16rem;
}

.h-8 {
  height: 2rem;
}

.h-80 {
  height: 20rem;
}

.h-96 {
  height: 24rem;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-2 {
  width: 0.5rem;
}

.w-24 {
  width: 6rem;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.max-w-xl {
  max-width: 36rem;
}

.flex-1 {
  flex: 1 1 0%;
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.grid-rows-9 {
  grid-template-rows: repeat(9, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --en-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--en-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--en-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --en-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--en-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--en-divide-y-reverse));
}

.divide-gray-300\/50 > :not([hidden]) ~ :not([hidden]) {
  border-color: rgb(209 213 219 / 0.5);
}

.self-end {
  align-self: flex-end;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-gray-300 {
  --en-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--en-border-opacity));
}

.border-transparent {
  border-color: rgb(0 0 0 / 0);
}

.border-white {
  --en-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--en-border-opacity));
}

.bg-blue-500 {
  --en-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--en-bg-opacity));
}

.bg-fuchsia-300 {
  --en-bg-opacity: 1;
  background-color: rgb(240 171 252 / var(--en-bg-opacity));
}

.bg-gray-100 {
  --en-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--en-bg-opacity));
}

.bg-gray-200 {
  --en-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--en-bg-opacity));
}

.bg-gray-300 {
  --en-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--en-bg-opacity));
}

.bg-gray-50 {
  --en-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--en-bg-opacity));
}

.bg-gray-800 {
  --en-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--en-bg-opacity));
}

.bg-gray-900 {
  --en-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--en-bg-opacity));
}

.bg-indigo-600 {
  --en-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--en-bg-opacity));
}

.bg-purple-500 {
  --en-bg-opacity: 1;
  background-color: rgb(168 85 247 / var(--en-bg-opacity));
}

.bg-teal-100 {
  --en-bg-opacity: 1;
  background-color: rgb(204 251 241 / var(--en-bg-opacity));
}

.bg-white {
  --en-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--en-bg-opacity));
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-top {
  background-position: top;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-4 {
  padding: 1rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.font-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.text-blue-500 {
  --en-text-opacity: 1;
  color: rgb(59 130 246 / var(--en-text-opacity));
}

.text-blue-600 {
  --en-text-opacity: 1;
  color: rgb(37 99 235 / var(--en-text-opacity));
}

.text-gray-200 {
  --en-text-opacity: 1;
  color: rgb(229 231 235 / var(--en-text-opacity));
}

.text-gray-400 {
  --en-text-opacity: 1;
  color: rgb(156 163 175 / var(--en-text-opacity));
}

.text-gray-500 {
  --en-text-opacity: 1;
  color: rgb(107 114 128 / var(--en-text-opacity));
}

.text-gray-600 {
  --en-text-opacity: 1;
  color: rgb(75 85 99 / var(--en-text-opacity));
}

.text-gray-700 {
  --en-text-opacity: 1;
  color: rgb(55 65 81 / var(--en-text-opacity));
}

.text-gray-900 {
  --en-text-opacity: 1;
  color: rgb(17 24 39 / var(--en-text-opacity));
}

.text-indigo-600 {
  --en-text-opacity: 1;
  color: rgb(79 70 229 / var(--en-text-opacity));
}

.text-rose-600 {
  --en-text-opacity: 1;
  color: rgb(225 29 72 / var(--en-text-opacity));
}

.text-sky-500 {
  --en-text-opacity: 1;
  color: rgb(14 165 233 / var(--en-text-opacity));
}

.text-teal-800 {
  --en-text-opacity: 1;
  color: rgb(17 94 89 / var(--en-text-opacity));
}

.text-white {
  --en-text-opacity: 1;
  color: rgb(255 255 255 / var(--en-text-opacity));
}

.shadow {
  --en-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --en-shadow-colored: 0 1px 3px 0 var(--en-shadow-color), 0 1px 2px -1px var(--en-shadow-color);
  box-shadow: var(--en-ring-offset-shadow, 0 0 #0000), var(--en-ring-shadow, 0 0 #0000), var(--en-shadow);
}

.shadow-lg {
  --en-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --en-shadow-colored: 0 10px 15px -3px var(--en-shadow-color), 0 4px 6px -4px var(--en-shadow-color);
  box-shadow: var(--en-ring-offset-shadow, 0 0 #0000), var(--en-ring-shadow, 0 0 #0000), var(--en-shadow);
}

.shadow-xl {
  --en-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --en-shadow-colored: 0 20px 25px -5px var(--en-shadow-color), 0 8px 10px -6px var(--en-shadow-color);
  box-shadow: var(--en-ring-offset-shadow, 0 0 #0000), var(--en-ring-shadow, 0 0 #0000), var(--en-shadow);
}

.ring-1 {
  --en-ring-shadow: var(--en-ring-inset) 0 0 0 calc(1px + var(--en-ring-offset-width)) var(--en-ring-color);
  box-shadow: var(--en-ring-offset-shadow), var(--en-ring-shadow), var(--en-shadow, 0 0 #0000);
}

.ring-gray-900\/5 {
  --en-ring-color: rgb(17 24 39 / 0.05);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.hover\:w-10:hover {
  width: 2.5rem;
}

.hover\:bg-blue-600:hover {
  --en-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--en-bg-opacity));
}

.hover\:bg-indigo-700:hover {
  --en-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--en-bg-opacity));
}

.hover\:text-blue-500:hover {
  --en-text-opacity: 1;
  color: rgb(59 130 246 / var(--en-text-opacity));
}

.hover\:text-sky-700:hover {
  --en-text-opacity: 1;
  color: rgb(3 105 161 / var(--en-text-opacity));
}

.hover\:shadow-xl:hover {
  --en-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --en-shadow-colored: 0 20px 25px -5px var(--en-shadow-color), 0 8px 10px -6px var(--en-shadow-color);
  box-shadow: var(--en-ring-offset-shadow, 0 0 #0000), var(--en-ring-shadow, 0 0 #0000), var(--en-shadow);
}

.focus\:z-10:focus {
  z-index: 10;
}

.focus\:border-indigo-500:focus {
  --en-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--en-border-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --en-ring-shadow: var(--en-ring-inset) 0 0 0 calc(2px + var(--en-ring-offset-width)) var(--en-ring-color);
  box-shadow: var(--en-ring-offset-shadow), var(--en-ring-shadow), var(--en-shadow, 0 0 #0000);
}

.focus\:ring-indigo-500:focus {
  --en-ring-opacity: 1;
  --en-ring-color: rgb(99 102 241 / var(--en-ring-opacity));
}

.focus\:ring-offset-2:focus {
  --en-ring-offset-shadow: var(--en-ring-inset) 0 0 0 var(--en-ring-offset-width) var(--en-ring-offset-color);
  --en-ring-offset-width: 2px;
}

@media (min-width: 640px) {
  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 640px) {
  .sm\:h-full {
    height: 100%;
  }
}

@media (min-width: 640px) {
  .sm\:w-full {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .sm\:max-w-2xl {
    max-width: 42rem;
  }
}

@media (min-width: 640px) {
  .sm\:max-w-md {
    max-width: 28rem;
  }
}

@media (min-width: 640px) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .sm\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 640px) {
  .sm\:gap-10 {
    gap: 2.5rem;
  }
}

@media (min-width: 640px) {
  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }
}

@media (min-width: 640px) {
  .sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 640px) {
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 640px) {
  .sm\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 640px) {
  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .\32xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .\32xl\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

body.dark .dark\:border-gray-600 {
  --en-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--en-border-opacity));
}

body.dark .dark\:focus\:border-blue-500:focus {
  --en-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--en-border-opacity));
}

body.dark .dark\:bg-fuchsia-800 {
  --en-bg-opacity: 1;
  background-color: rgb(134 25 143 / var(--en-bg-opacity));
}

body.dark .dark\:bg-gray-700 {
  --en-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--en-bg-opacity));
}

body.dark .dark\:text-fuchsia-400 {
  --en-text-opacity: 1;
  color: rgb(232 121 249 / var(--en-text-opacity));
}

body.dark .dark\:text-white {
  --en-text-opacity: 1;
  color: rgb(255 255 255 / var(--en-text-opacity));
}

body.dark .dark\:focus\:ring-blue-500:focus {
  --en-ring-opacity: 1;
  --en-ring-color: rgb(59 130 246 / var(--en-ring-opacity));
}