<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
    <div
        class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10">
        <div class="mx-auto max-w-2xl">
            <!-- <img src="/img/logo.svg" class="h-6" alt="Tailwind Play" /> -->
            <div class="text-2xl px-1 py-2 divide-y divide-gray-300/50">Create new player connection</div>
            <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                <form hx-post="/player_connections" hx-ext="json-enc" class="max-w-xl mx-auto">
                    <div class="mb-5">
                        <div>
                            <label>Media Provider</label>
                            <br />
                            <select name="media_provider_id" required hx-post="/p/setup"
                                hx-trigger="input changed delay:500ms, load" hx-target="#setup-results"
                                hx-swap="innerHTML"
                                class="block border w-full px-4 py-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option disabled selected value="">Choose a media provider</option>

                                {% for key, value in providers %}
                                <option value="{{key}}">{{value.name}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div id="setup-results">
                            {% if providers | length == 0 %}
                            <div>
                                <br />
                                <p>No media providers available, please check server configuration or contact someone
                                    who can.
                                </p>
                            </div>
                            {% else %}
                            <br />
                            <label>Choose a media provider to continue with setup</label>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
